  /* the whole page background color*/
  body {
    background: linear-gradient(to bottom, #fef3f3, #fff);            
}
/* the Header style*/
header {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: rgba(3, 16, 85, 0.978);
}
/* Design the whole page container to design inside it*/
.container {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 100vh;
}        
.MainCont {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #f9e5d8;
    border-radius: 15px;           
}    

/* Media query for large screens */
@media (min-width: 768px) {
    .MainCont {
        flex-direction: row;
    }
}

.DataCalc {
    display: flex;
    flex-direction:column;
    width: auto;
    background-color: rgb(250, 225, 221);
    border-radius:10px;
    margin-right: 20px;
    margin-left: 20px;
}

.ptdataLabel{
    font-size: clamp(20px, 40%, 32px);
    text-align: center;
    font-weight: bold;
    background-color:rgb(255, 215, 255);
    margin-bottom: 5px;
}

.PatData {
    display: flex;
    flex-direction:column;
    background-color: rgb(252, 213, 206);
    margin:10px;
    border-radius:10px;
    padding:5px;
}
.indices-cont {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}

.DisProb {
    margin:10px;
    display: flex;
    flex-direction:column;
    background-color: #cf7dff;
    border-radius:10px;
    padding:5px;
}

.prob-cont {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius:10px;
}

.indices-cont label {
    width: 110px; 
    margin-right: 10px; 
    font-size: clamp(18px, 40%, 32px);
    font-weight: bold;
}

.prob-cont label {
    width: 170px; 
    margin-right: 10px; 
    font-size: clamp(24px, 40%, 32px);
    font-weight: bold;
}

.indices-cont input {
    width: 75px; 
    margin-right: 10px;
    border-radius:10px;
    border:none;
    height:35px;
    text-align:center;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: clamp(16px, 40%, 24px);
}

.prob-cont input {
    width: 170px; 
    margin-right: 10px;
    border-radius:10px;
    border:none;
    height:35px;
    font-weight:bold;
    text-align:center;
} 

.IdaThalCalc-btn {
    font-size: clamp(24px, 40%, 32px);
    width:75%;
    align-self:center;
    font-weight:bold;
    padding: 10px;
    background-color: #60f7f07f;
    border: none;
    cursor: pointer;
    border-radius:20px;
    margin: 10px;
}

.IdaThalCalc-btn:hover {
    background-color: #9295957f;          
                        
}

.IdaThalCalc {
    display: flex;
    flex-direction:column;
    
    width: 100%;
}

.IndicesTitle {
    width: auto; 
    font-size: clamp(20px, 40%, 32px);
    font-weight: bold;
    text-align:center;
    padding: 10px;
    background-color: #ffb5a7;
    border-radius:20px;
}

.hovermsg {
    width: auto; 
    font-size: clamp(14px, 40%, 32px);
    font-weight: bold;
    font-style: italic;
    text-align:center;
    padding: 3px;
    color: #d900fa;           
}

.indOutCont {
    display: flex;
    flex-direction:column;            
}

.AllIndices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin:5px;           
    border-radius:5px;
}

@media (max-width: 768px) {
    .AllIndices {
        flex-direction: column;
    }
}
        
.LtIndices, .RtIndices{
    background-color: #f9dcc4;
    padding:1px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    border-radius: 10px;
}

.CalculatedIndices input {
    width:140px;
    border-radius: 10px;
    height: 20px;
    text-align: center;            
}

.CalculatedIndices label {
    display: inline-block;
    min-width: 210px; 
    margin-right: 10px; 
    padding: 3px;
    font-size: clamp(20px, 40%, 32px);
    font-weight: bold;
    text-align: left;
}

/* Side Navigation Style */
.side-nav {
    height: 100%;
    width: 20px;
    position: fixed;
    z-index: 1;
    top: 0;          
    left: 0;
    background: linear-gradient(to bottom, #340f3f, #380552);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
}

.side-nav a {
    padding: 20px 8px 8px 16px;
    /* margin-bottom: 10px; */
    text-decoration: none;
    text-align: center;                   
    font-size: clamp(16px, 8vw, 24px);
    color: #884EA0;
    display: block;
    transition: 0.2s;
}

.side-nav a:hover {
    color: #ffffff;
    background-color: #884EA0;
    border-radius: 20px;
    
}

#trigger-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    z-index: 2;
}

