  /* the whole page background color*/
  body {
    background: linear-gradient(to bottom, #fef3f3, #fff);            
}

/* Specific Page Header */
.page-header {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: rgba(3, 16, 85, 0.978);
    margin-top: 40px;   
}


/* Design the whole page container to design inside it*/
.container {
    max-width: 1500px;
    margin: 0 auto;
    min-height: 80vh;
}        
.MainCont {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ffceff;
    border-radius: 15px;           
}    

/* Media query for large screens */
@media (min-width: 768px) {
    .MainCont {
        flex-direction: row;
    }
}

.DataCalc {
    display: flex;
    flex-direction:column;
    width: auto;
    background-color: #ffc9ff;
    border-radius:10px;
    margin-right: 20px;
    margin-left: 20px;
}

.ptdataLabel{
    font-size: clamp(20px, 40%, 32px);
    text-align: center;
    font-weight: bold;
    background-color:rgb(255, 215, 255);
    margin-bottom: 5px;
}

.PatData {
    display: flex;
    flex-direction:column;
    background-color: #ffb7ff;
    margin:10px;
    border-radius:10px;
    padding:5px;
    
}
.indices-cont {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}

.DisProb {
    margin:10px;
    display: flex;
    flex-direction:column;
    background-color: #cf7dff;
    border-radius:10px;
    padding:5px;
}

.prob-cont {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border-radius:10px;
}

.indices-cont label {
    width: 110px; 
    margin-right: 10px; 
    font-size: clamp(18px, 40%, 32px);
    font-weight: bold;
}

.prob-cont label {
    width: 170px; 
    margin-right: 10px; 
    font-size: clamp(24px, 40%, 32px);
    font-weight: bold;
}

.indices-cont input {
    width: 75px; 
    margin-right: 10px;
    border-radius:10px;
    border:none;
    height:35px;
    text-align:center;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: clamp(16px, 1.5vw, 24px);
}

.prob-cont input {
    width: 170px; 
    margin-right: 10px;
    border-radius:10px;
    border:none;
    height:35px;
    font-weight:bold;
    text-align:center;
    font-size: clamp(16px, 1.2vw, 24px);
} 

.IdaThalCalc-btn {
    font-size: clamp(24px, 40%, 32px);
    width:75%;
    align-self:center;
    font-weight:bold;
    padding: 10px;
    background-color: #60f7f07f;
    border: 1px solid black;
    cursor: pointer;
    border-radius:20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.IdaThalCalc-btn:hover {
    background-color: #7676767f;
    color:white;  
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);        
                        
}

.IdaThalCalc {
    display: flex;
    flex-direction:column;
    
    width: 100%;
}

.IndicesTitle {
    width: auto; 
    font-size: clamp(20px, 40%, 32px);
    font-weight: bold;
    text-align:center;
    padding: 10px;
    background-color: #ac82fe;
    border-radius:20px;
}

.hovermsg {
    width: auto; 
    font-size: clamp(14px, 40%, 32px);
    font-weight: bold;
    font-style: italic;
    text-align:center;
    padding: 3px;
    color: #4361ee;           
}

.indOutCont {
    display: flex;
    flex-direction:column;            
}

.AllIndices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin:5px;           
    border-radius:5px;
}

@media (max-width: 768px) {
    .AllIndices {
        flex-direction: column;
    }
}
        
.LtIndices, .RtIndices{
    background-color: #ffc9ff;
    padding:1px;
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    border-radius: 10px;
}

.CalculatedIndices input {
    width:140px;
    border-radius: 10px;
    height: 20px;
    text-align: center;            
}

.CalculatedIndices label {
    display: inline-block;
    min-width: 210px; 
    margin-right: 10px; 
    padding: 3px;
    font-size: clamp(20px, 40%, 32px);
    font-weight: bold;
    text-align: left;
}

@media only screen and (max-width: 768px) {

    .page-header {
        font-size: 4vw;       
    }
}