body {
    background: linear-gradient(to bottom, #afeaff, #cbfcff);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Specific Page Header */
.page-header {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: rgba(3, 16, 85, 0.978);
    margin-top: 40px;   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Change this to flex-start to align the links to the left side */
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    max-width: 1200px;
    padding-left: 20px; /* Add some left padding to the container */
  }
  
  .container a {
    font-size: 1.5rem; /* Increase the font size */
    margin-bottom: 10px; /* Add space between the links */
    text-decoration: none; /* Remove the underline from the links */
    color: inherit; /* Use the same color as the parent element */
    padding: 5px;
  }

  .container a:hover {
    background-color: #fffbaa;
    color: rgb(0, 21, 255);
    border-radius: 10px;
}

  @media only screen and (max-width: 768px) {

    .page-header {
        font-size: 4vw;       
    }
}
  

