@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
    background: linear-gradient(to bottom, #fdffce, #feffdb);
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
 
}

    
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-header {
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: rgba(3, 16, 85, 0.978);
    margin-top: 60px;   
}

.cpg-title {
    margin-left: 3pt;
    text-align: center;
    font-size: 24pt;
    font-weight:bold;
    font-family: 'Noto Sans', sans-serif;
    color: blue;
}
.cpg-headers {
    margin-left: 3pt;
    text-align: left;
    font-size: 18pt;
    font-weight:bold;
    font-family: 'Noto Sans', sans-serif;
    color: #00b050;
    padding-bottom:5px;
    margin-top:10px;
    margin-bottom:0px;    
}

.cpg-sub-headers {
    margin-left: 3pt;
    text-align: left;
    font-size: 16pt;
    font-weight:bold;
    font-family: 'Noto Sans', sans-serif;
    color: #001aff;
    padding-bottom:3px;
    margin-top:5px;
    margin-bottom:0px;    
}


.cpg-text {
    margin-left: 3pt;
    font-family: 'Noto Sans';
    font-size:14pt;
    padding-bottom: 10px;
    padding-top:3px;    
}

.border-btm {
    border-bottom: solid rgb(80, 80, 80) 1pt;
    margin-left: 3pt;
}
    
.cpg-table {
    font-family: arial, sans-serif;
    border:1px solid black;
    padding: 8px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    max-width: 800px;
}
td, th {
    border:1px solid black;
    padding: 8px;
    
}
.cpg-table:th {
    text-align:center;
    font-weight:bold;
    
    }

ul, ol{
    
    font-size:14pt;     
}

.image {    
    height: auto;
}


/*adjusts the font size in the table, shrinks the cells, and decreases the indentation in lists */ 
@media (max-width: 768px) {
    .cpg-table {
        font-size: 12pt;
    }
    td, th {
        padding: 4px;
    }
    ul, ol {
        font-size: 12pt;
        padding-left: 15px;
    }

    .image {
        width: 100%;
        height: auto;
    }
    
}


.main-header {
    font-size: 2vw;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-style: italic;
    text-align: left;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    margin: 0;
    background-color: #00a2ff; /* Change this color to the desired color */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 1000;
}

.pedlogopic {
    position: fixed;
    top:0;
    left:0;
    height:45px;
    z-index: 1003;
}

    
/* Home button CSS code */
/* //////////////////////// */
.return-links {
    position: fixed;
    top: 5px;
    right: 15px;
    display: inline-block;
    z-index: 1001;    
}


a[role="button"] {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 255);
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a[role="button"]:hover {
    background-color: rgb(0, 0, 255);
    color: #ffffff;
}


/* ////////////////////////////// */
/* Media changes for small screens */
@media screen and (max-width: 768px) {
    a[role="button"] {
        padding: 4px 8px;
        font-size: 12px;
    }
    .return-links {
        right: 5px; /* Adjust this value to give more space for the buttons */
    }

    .main-header {
        font-size: 4vw;
    }
    .page-header {
        font-size: 4vw;       
    }

    .pedlogopic {
        height:30px;
    }  

}